body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f2e6e6;
}
/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}
.dark {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
  margin: 10px 0 10px 0;
}
/* Header */
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 10px;
}
header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Showcase */
.showcase {
  min-height: 400px;
  background: url("pic.jpg") no-repeat -700px -700px;
  text-align: center;
  color: #ffffff;
}

.showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
.showcase p {
  font-size: 20px;
}

.newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}
.newsletter .container h1 {
  float: left;
}
.newsletter form {
  float: right;
  margin-top: 25px;
}

.newsletter input[type="email"] {
  padding: 0 10px;
  height: 30px;
  width: 250px;
}

.newsletter form button {
  height: 35px;
  background: #e8491d;
  padding: 0 15px;
  color: #ffffff;
}

/* Boxes */
.boxes {
  margin-top: 20px;
}

.boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

.boxes .box img {
  width: 90px;
}
/* sidebar */
aside.sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}
.main-col {
  float: left;
  width: 65%;
}

.sidebar button {
  height: 35px;
  background: #e8491d;
  padding: 0 15px;
  color: #ffffff;
  border: none;
  margin-top: 10px;
}
aside .quote input,
aside .quote textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
}
/*services */
.main ul li {
  list-style: none;
  padding: 20px;
  border: #cccccc 1px solid;
  margin-bottom: 6px;
  background: #e6e6e6;
}
footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #35424a;
  text-align: center;
}

/*Media Queries*/
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  .newsletter .container h1,
  .newsletter form,
  .boxes .box,
  article.main-col,
  aside.sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }
  header {
    padding-bottom: 20px;
  }
  .newsletter form button {
    width: 100%;
  }
  .showcase h1 {
    margin-top: 40px;
  }
  .newsletter button,
  .quote button {
    width: 100%;
    display: block;
  }
  .newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
}
